<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Reservar Área</title>
  <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/assets/menusistema.css}">
  <style>
    #botao{
      background: #2d9239;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      border: 2px solid transparent;
      font-size: 24px;
    }
  </style>
</head>

<body>
  <header th:insert="fragments/menu.html :: header"></header>

  <div class="container"
    style="background-color: #f4f4f4;padding: 10px;border-radius: 10px;width: 70%;overflow: hidden; margin-top: 30px;">

    <!-- <div th:each="error : ${errors}" class="alert alert-danger alert-dismissible fade show" role="alert">
			<span th:text="${error}">Alerta</span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div> -->

    <form th:action="@{/sistema/reserva}" method="post" th:object="${reserva}">
      <div class="form-row">
        <div class="form-group col-md-6">
          <h3>Área</h3>
          <select class="form-control" th:field="*{nomeDaArea}">
            <option th:value="Piscina">Piscina</option>
            <option th:value="Churrasqueira">Churrasqueira</option>
            <option th:value="'Área de lazer'">Área de Lazer</option>
            <option th:value="'Salão de Festas'">Salão de Festas</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <h3>Data</h3>
          <input id="data" class="form-control" type="text" th:field="*{data}" maxlength="10">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <h3>CPF</h3>
          <input id="data" class="form-control" type="text" th:field="*{visitantes[0].cpf}">
        </div>
        <div class="form-group col-md-6">
          <h3>Nome</h3>
          <input id="data" class="form-control" type="text" th:field="*{visitantes[0].nome}">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group mx-auto">
          <button id="botao">+</button>
        </div>
      </div>
      <button type="submit" class="btn btn-primary float-right" style="background-color:#2d9239;border-color:#2d9239">
        Cadastrar
      </button>
    </form>
  </div>
  <script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
  <script th:src="@{/assets/js/popper.min.js}"></script>
  <script th:src="@{/assets/js/bootstrap.min.js}"></script>
  <script>
    var input = document.getElementById('data');

    var dateInputMask = function dateInputMask(elm) {
      elm.addEventListener('keypress', function (e) {
        if (e.keyCode < 47 || e.keyCode > 57) {
          e.preventDefault();
        }

        var len = elm.value.length;

        // If we're at a particular place, let the user type the slash
        // i.e., 12/12/1212
        if (len !== 1 || len !== 3) {
          if (e.keyCode == 47) {
            e.preventDefault();
          }
        }

        // If they don't add the slash, do it for them...
        if (len === 2) {
          elm.value += '/';
        }

        // If they don't add the slash, do it for them...
        if (len === 5) {
          elm.value += '/';
        }
      });
    };

    dateInputMask(input);
  </script>
</body>

</html>