<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Codeminio</title>
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/menusistema.css}">
<style>
body{
background-color:#9df2a7;
}
</style>
</head>

<body>
<header th:insert="fragments/menu.html :: header"> </header>
	<div id="conteudo">
	a
	</div>
</body>
    
</html>