<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Cadastrar funcionário</title>
</head>
<body>
	<form th:action="@{/funcionario/salvar}" method="post" th:object="${funcionario}" sec:authorize="hasRole('ROLE_ADMIN')">
		<label sec:authorize="hasRole('ROLE_MORADOR')">Login</label>
		<input name="login" th:field="*{usuario.login}" th:value="*{usuario.login}" >
		<label>Senha</label>
		<input name="senha" th:field="*{usuario.senha}" th:value="*{usuario.senha}">
		<input type="submit" value="Salvar">
	</form>
</body>
</html>