<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Lista de Moradores</title>
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/menusistema.css}">
</head>
<body>
<header th:insert="fragments/menu.html :: header"> </header>
<div class="container" style="background-color: #f4f4f4;padding: 10px;border-radius: 10px;width: 70%;overflow: hidden;">
	<div class="table-responsive">
		<table id="dataTable" class="table table-striped table-bordered inputToUpper">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Login</th>
					<th>Email</th>
					<th>Apartamento</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="morador : ${moradorLista}" >
					<td th:text="${morador.usuario.nome}" ></td>
					<td th:text="${morador.usuario.login}"></td>
					<td th:text="${morador.usuario.email}"></td>
					<td th:text="${morador.apartamento}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>