<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Cadastrar Visitantes</title>
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/menusistema.css}">
</head>
<body>
<header th:insert="fragments/menu.html :: header"> </header>


<div class="container" style="background-color: #f4f4f4;padding: 10px;border-radius: 10px;width: 70%;overflow: hidden;">

	<div th:each="error : ${errors}" class="alert alert-danger alert-dismissible fade show" role="alert">
		<span th:text="${error}">Alerta</span>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<h5>Dados do Visitante</h5>
	<form th:action="@{/sistema/visita}" method="post" th:object="${visita}">
		<div class="form-row">
			<div class="form-group col-md-6">
			    <label>Nome</label>
				<input name="nome" class="form-control" th:field="*{nome}" th:value="*{nome}">
			</div>
			<div class="form-group col-md-6">
			    <label>CPF</label>
				<input name="cpf" class="form-control" th:field="*{cpf}" th:value="*{cpf}">
			</div>
		</div>
	  	<button type="submit" class="btn btn-primary float-right" style="background-color:#2d9239;border-color:#2d9239" >Cadastrar</button>
	</form>
</div>	
<script>

</script>
</body>
</html>